<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/02-dealer list.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar">
        <div>
          <a href="index.html">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="41"
              height="41"
              viewBox="0 0 41 41"
              fill="none"
            >
              <circle cx="20.5" cy="20.5" r="20.5" fill="#F8F8FB" />
              <path
                d="M23 15L17 21L23 27"
                stroke="#8A94A6"
                stroke-width="1.875"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
        <h2 class="navbar__title">Dealer List</h2>
      </div>
      <a href="03-product.html">
        <div class="dealer-card">
          <div class="title">
            <img src="./images/profile.png" alt="" />
            <h2>মোহাম্মদ নাজমুল আলী</h2>
          </div>
          <div class="total">
            <div class="text">
              <p>Total SR <span>(4)</span></p>
            </div>
            <div class="text">
              <p>Product<span>(4)</span></p>
            </div>
          </div>
        </div>
      </a>
      <a href="03-product.html">
        <div class="dealer-card">
          <div class="title">
            <img src="./images/profile.png" alt="" />
            <h2>মোহাম্মদ নাজমুল আলী</h2>
          </div>
          <div class="total">
            <div class="text">
              <p>Total SR <span>(4)</span></p>
            </div>
            <div class="text">
              <p>Product<span>(4)</span></p>
            </div>
          </div>
        </div>
      </a>
      <a href="03-product.html">
        <div class="dealer-card">
          <div class="title">
            <img src="./images/profile.png" alt="" />
            <h2>মোহাম্মদ নাজমুল আলী</h2>
          </div>
          <div class="total">
            <div class="text">
              <p>Total SR <span>(4)</span></p>
            </div>
            <div class="text">
              <p>Product<span>(4)</span></p>
            </div>
          </div>
        </div>
      </a>
      <a href="03-product.html">
        <div class="dealer-card">
          <div class="title">
            <img src="./images/profile.png" alt="" />
            <h2>মোহাম্মদ নাজমুল আলী</h2>
          </div>
          <div class="total">
            <div class="text">
              <p>Total SR <span>(4)</span></p>
            </div>
            <div class="text">
              <p>Product<span>(4)</span></p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </body>
</html>
