<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="mobile_container">
        <div class="container">
            <a href="#" class="login__navbar">
                <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                    <circle cx="20.5" cy="20.5" r="20.5" fill="#F8F8FB" />
                    <path d="M23 15L17 21L23 27" stroke="#8A94A6" stroke-width="1.875" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </a>

            <div class="login_img">
                <img src="images/dealer.svg" alt="">
            </div>

            <div class="logo">
                <img src="images/dealer-logo.svg" alt="">
            </div>   

            <div class="login__name-field">
                <input type="text" placeholder="Phone Number">
            </div>
            <div class="login__password-field">
                <input type="password" placeholder="Password">
            </div>
            <p class="login__forget-password">Forget password?</p>
            <a href="home.html" style="text-decoration: none;">
                <button class="login__button">Login</button>
            </a>
        </div>
    </div>
</body>

</html>