<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="stylesheet" href="css/product.css" />
    <link rel="stylesheet" href="main.css">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>

  <body>
    <div class="mobile_container">
    <div class="container">

      <div class="navbar">
        <a href="home.html" class="login__navbar">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
              <circle cx="20.5" cy="20.5" r="20.5" fill="#F8F8FB" />
              <path d="M23 15L17 21L23 27" stroke="#8A94A6" stroke-width="1.875" stroke-linecap="round"
                  stroke-linejoin="round" />
          </svg>
      </a>
        <a href="login.html" class="logout__button">Logout <img src="images/icon/logout.svg" alt=""></a>
      </div>

      <div class="total__product-so">
        <div class="total__product-so-left">
          <div class="h_icon">
            <img src="images/icon/total-product.svg" alt="">
          </div>
          <h2 class="total__product-title">Total Product</h2>
        </div>
        <div>
          <h2 class="total__product-so-right">120</h2>
        </div>
      </div>
      <div class="total__product-filter">
        <div class="total__product-filter-data">
          <select>
            <option>All So</option>
            <option>All So</option>
            <option>All So</option>
            <option>All So</option>
          </select>
        </div>
        <div class="total__product-filter-icon" style="cursor: pointer">
          <img src="images/icon/filter-border.svg" alt="">
        </div>
      </div>
      <div class="product__wrapper">
        <div class="product-details-popup">
          <div class="product__card">
            <img src="images/Product/product.png" alt="" />
            <h2 class="product__name">মিল্ক বিস্কুট</h2>
            <p class="product__weight">(50g)</p>
          </div>
        </div>
        <div class="product-details-popup">
          <div class="product__card">
            <img src="images/Product/product.png" alt="" />
            <h2 class="product__name">মিল্ক বিস্কুট</h2>
            <p class="product__weight">(50g)</p>
          </div>
        </div>
        <div class="product-details-popup">
          <div class="product__card">
            <img src="images/Product/product.png" alt="" />
            <h2 class="product__name">মিল্ক বিস্কুট</h2>
            <p class="product__weight">(50g)</p>
          </div>
        </div>
        <div class="product-details-popup">
          <div class="product__card">
            <img src="images/Product/product.png" alt="" />
            <h2 class="product__name">মিল্ক বিস্কুট</h2>
            <p class="product__weight">(50g)</p>
          </div>
        </div>
        <div class="product-details-popup">
          <div class="product__card">
            <img src="images/Product/product.png" alt="" />
            <h2 class="product__name">মিল্ক বিস্কুট</h2>
            <p class="product__weight">(50g)</p>
          </div>
        </div>
        <div class="product-details-popup">
          <div id="card" class="product__card">
            <img src="images/Product/product.png" alt="" />
            <h2 class="product__name">মিল্ক বিস্কুট</h2>
            <p class="product__weight">(50g)</p>
          </div>
        </div>
      </div>
    </div>

    <div class="product__details-container">


      <div class="popup__container">
        <div class="popup__cancel">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="41"
            height="41"
            viewBox="0 0 41 41"
            fill="none"
          >
            <circle cx="20.5" cy="20.5" r="20.5" fill="#F2F3F9" />
            <path
              d="M26 26L15 15M26 15L15 26"
              stroke="#0472ED"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="product__picture">
          <img src="images/Product/product.png" alt="" />
        </div>
        <div class="popup__body">
          <div class="product__data">
            <div class="product__title">
              <h2 class="product__name">মিল্ক বিস্কুট</h2>
              <p class="product__weight">(50g)</p>
            </div>
          </div>
          <div class="product__rate">
            <div class="product__buyrate">
              <h2>ক্রয় মূল্য :</h2>
              <p>৩. ৯৫</p>
            </div>
            <div class="product__sellrate">
              <h2>বিক্রয় মূল্য :</h2>
              <p>৪. ১৮</p>
            </div>
          </div>
          <div class="product__counter-wrapper">
            <div id="amount-minus">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="39"
                height="39"
                viewBox="0 0 39 39"
                fill="none"
              >
                <rect width="39" height="39" rx="8" fill="#F2F3F9" />
                <path
                  d="M25.8947 21H14.1053C13.5011 21 13 20.5467 13 20C13 19.4533 13.5011 19 14.1053 19H25.8947C26.1879 19 26.469 19.1054 26.6763 19.2929C26.8836 19.4804 27 19.7348 27 20C27 20.2652 26.8836 20.5196 26.6763 20.7071C26.469 20.8946 26.1879 21 25.8947 21Z"
                  fill="#007AFF"
                />
              </svg>
            </div>

            <input class="product__handler-amount" type="text" value="6%" />
            
            <div id="amount-plus">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="39"
                height="39"
                viewBox="0 0 39 39"
                fill="none"
              >
                <rect width="39" height="39" rx="8" fill="#F2F3F9" />
                <path
                  d="M24.9737 18.4737H20.5263V14.0263C20.5263 13.4653 20.0611 13 19.5 13C18.9389 13 18.4737 13.4653 18.4737 14.0263V18.4737H14.0263C13.4653 18.4737 13 18.9389 13 19.5C13 20.0611 13.4653 20.5263 14.0263 20.5263H18.4737V24.9737C18.4737 25.5347 18.9389 26 19.5 26C20.0611 26 20.5263 25.5347 20.5263 24.9737V20.5263H24.9737C25.5347 20.5263 26 20.0611 26 19.5C26 18.9389 25.5347 18.4737 24.9737 18.4737Z"
                  fill="#007AFF"
                />
              </svg>
            </div>
          </div>
          <button class="product__confirm-btn">Confirm</button>
        </div>
      </div>
    </div>

    <!-- mobile nav -->
    <div class="nav-container">
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link active" href="home.html">
              <i class="navigation__icon" data-feather="home"></i>
              <span class="navigation__text">HOME</span>
            </a>
          </li>
          <li class="navigation__item">
            <a href="so.html" class="navigation__link">
              <i class="navigation__icon" data-feather="user"></i>
              <span class="navigation__text">SO</span>
            </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="Profit.html">
              <i class="navigation__icon" data-feather="dollar-sign"></i>
              <span class="navigation__text">Profit</span>
            </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="Inventory.html">
              <i class="navigation__icon" data-feather="clipboard"></i>
              <span class="navigation__text">Inventory</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="js/index.js"></script>
  </body>
</html>
