<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />
        <title>Sales Officer</title>
        <link rel="stylesheet" href="css/so.css" />
        <link rel="stylesheet" href="main.css" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
    </head>

    <body>
        <div class="mobile_container">
            <div class="container">
                <div class="navbar">
                    <a href="home.html" class="login__navbar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                            <circle cx="20.5" cy="20.5" r="20.5" fill="#F8F8FB" />
                            <path d="M23 15L17 21L23 27" stroke="#8A94A6" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <h2 class="navbar__title">Sales officer</h2>
                    <span style="width: 41px;"></span>
                </div>
                <div class="total__product-so">
                    <div class="total__product-so-left">
                        <div class="h_icon">
                            <img src="images/icon/total-so.svg" alt="" />
                        </div>
                        <h2 class="total__product-title">Total SO</h2>
                    </div>
                    <div>
                        <h2 class="total__product-so-right">02</h2>
                    </div>
                </div>

                <div class="officer__data-container">
                    <a href="so-profile.html">
                        <div class="officer__data-wrapper">
                            <div class="officer__data">
                                <img src="images/user3.png" alt="" />
                                <div>
                                    <h2 class="officer__name bn">রমজান আলী</h2>
                                    <p class="officer__company">Pran Food & Bavreage</p>
                                </div>
                            </div>
                            <button class="officer__details">
                                <img src="images/icon/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </a>
                    <a href="so-profile.html">
                        <div class="officer__data-wrapper">
                            <div class="officer__data">
                                <img src="images/user3.png" alt="" />
                                <div>
                                    <h2 class="officer__name bn">রমজান আলী</h2>
                                    <p class="officer__company">Pran Food & Bavreage</p>
                                </div>
                            </div>
                            <button class="officer__details">
                                <img src="images/icon/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </a>
                    <a href="so-profile.html">
                        <div class="officer__data-wrapper">
                            <div class="officer__data">
                                <img src="images/user3.png" alt="" />
                                <div>
                                    <h2 class="officer__name bn">রমজান আলী</h2>
                                    <p class="officer__company">Pran Food & Bavreage</p>
                                </div>
                            </div>
                            <button class="officer__details">
                                <img src="images/icon/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </a>
                    <a href="so-profile.html">
                        <div class="officer__data-wrapper">
                            <div class="officer__data">
                                <img src="images/user3.png" alt="" />
                                <div>
                                    <h2 class="officer__name bn">রমজান আলী</h2>
                                    <p class="officer__company">Pran Food & Bavreage</p>
                                </div>
                            </div>
                            <button class="officer__details">
                                <img src="images/icon/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </a>
                    <a href="so-profile.html">
                        <div class="officer__data-wrapper">
                            <div class="officer__data">
                                <img src="images/user3.png" alt="" />
                                <div>
                                    <h2 class="officer__name bn">রমজান আলী</h2>
                                    <p class="officer__company">Pran Food & Bavreage</p>
                                </div>
                            </div>
                            <button class="officer__details">
                                <img src="images/icon/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </a>
                    <a href="so-profile.html">
                        <div class="officer__data-wrapper">
                            <div class="officer__data">
                                <img src="images/user3.png" alt="" />
                                <div>
                                    <h2 class="officer__name bn">রমজান আলী</h2>
                                    <p class="officer__company">Pran Food & Bavreage</p>
                                </div>
                            </div>
                            <button class="officer__details">
                                <img src="images/icon/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </a>
                    <a href="so-profile.html">
                        <div class="officer__data-wrapper">
                            <div class="officer__data">
                                <img src="images/user3.png" alt="" />
                                <div>
                                    <h2 class="officer__name bn">রমজান আলী</h2>
                                    <p class="officer__company">Pran Food & Bavreage</p>
                                </div>
                            </div>
                            <button class="officer__details">
                                <img src="images/icon/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </a>
                </div>
            </div>
            
<!-- mobile nav -->
<div class="nav-container">
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="home.html">
            <i class="navigation__icon" data-feather="home"></i>
            <span class="navigation__text">HOME</span>
          </a>
        </li>
        <li class="navigation__item">
          <a href="so.html" class="navigation__link active">
            <i class="navigation__icon" data-feather="user"></i>
            <span class="navigation__text">SO</span>
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="Profit.html">
            <i class="navigation__icon" data-feather="dollar-sign"></i>
            <span class="navigation__text">Profit</span>
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="Inventory.html">
            <i class="navigation__icon" data-feather="clipboard"></i>
            <span class="navigation__text">Inventory</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
        </div>

        <script src="https://unpkg.com/feather-icons"></script>
        <script src="./js/index.js"></script>
    </body>
</html>
