<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/02-customer-care.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</head>

<body>
    <div class="container">

        <div class="navbar">
            <img src="images/h-logo.png" alt="">
            <img src="images/profile-1.png" alt="">
        </div>
        <div class="customar__profile">
            <div>
                <h2 class="customar__name">Customer Care</h2>
                <p class="customar__title">Manage your Order Request </p>
            </div>
        </div>
        <div class="pending-wrapper">
            <div class="pending">
                <img src="images/pen-1.png" alt="">
                <p>Pendign</p>
            </div>
            <div class="pending nobg">
                <img src="images/pen-2.png" alt="">
                <p>Baki Request</p>
            </div>
        </div>
        <div>
            <div class="customar__btn-wrapper">
                <div class="customar__btn">
                    <div class="oppo">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17"
                                fill="none">
                                <path
                                    d="M6.07594 6.9811C7.7537 6.9811 9.11379 5.62101 9.11379 3.94325C9.11379 2.26549 7.7537 0.905396 6.07594 0.905396C4.39818 0.905396 3.03809 2.26549 3.03809 3.94325C3.03809 5.62101 4.39818 6.9811 6.07594 6.9811Z"
                                    fill="#007AFF" />
                                <path opacity="0.5"
                                    d="M12.1514 12.677C12.1514 14.5643 12.1514 16.0946 6.07571 16.0946C0 16.0946 0 14.5643 0 12.677C0 10.7898 2.7204 9.25946 6.07571 9.25946C9.43102 9.25946 12.1514 10.7898 12.1514 12.677Z"
                                    fill="#007AFF" />
                            </svg>
                        </div>
                        <h2 class="customar__nam">মুহাম্মদ রাসেল</h2>
                        <p class="customar__count">05</p>
                    </div>
                </div>
                <div class="customar__btn">
                    <div class="oppo">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17"
                                fill="none">
                                <path
                                    d="M6.07594 6.9811C7.7537 6.9811 9.11379 5.62101 9.11379 3.94325C9.11379 2.26549 7.7537 0.905396 6.07594 0.905396C4.39818 0.905396 3.03809 2.26549 3.03809 3.94325C3.03809 5.62101 4.39818 6.9811 6.07594 6.9811Z"
                                    fill="#007AFF" />
                                <path opacity="0.5"
                                    d="M12.1514 12.677C12.1514 14.5643 12.1514 16.0946 6.07571 16.0946C0 16.0946 0 14.5643 0 12.677C0 10.7898 2.7204 9.25946 6.07571 9.25946C9.43102 9.25946 12.1514 10.7898 12.1514 12.677Z"
                                    fill="#007AFF" />
                            </svg>
                        </div>
                        <h2 class="customar__nam">মুহাম্মদ রাসেল</h2>
                        <p class="customar__count">05</p>
                    </div>
                </div>
            </div>
            <div class="customar__btn-wrapper">
                <div class="customar__btn">
                    <div class="oppo">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17"
                                fill="none">
                                <path
                                    d="M6.07594 6.9811C7.7537 6.9811 9.11379 5.62101 9.11379 3.94325C9.11379 2.26549 7.7537 0.905396 6.07594 0.905396C4.39818 0.905396 3.03809 2.26549 3.03809 3.94325C3.03809 5.62101 4.39818 6.9811 6.07594 6.9811Z"
                                    fill="#007AFF" />
                                <path opacity="0.5"
                                    d="M12.1514 12.677C12.1514 14.5643 12.1514 16.0946 6.07571 16.0946C0 16.0946 0 14.5643 0 12.677C0 10.7898 2.7204 9.25946 6.07571 9.25946C9.43102 9.25946 12.1514 10.7898 12.1514 12.677Z"
                                    fill="#007AFF" />
                            </svg>
                        </div>
                        <h2 class="customar__nam">মুহাম্মদ রাসেল</h2>
                        <p class="customar__count">05</p>
                    </div>
                </div>
                <div class="customar__btn">
                    <div class="oppo">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17"
                                fill="none">
                                <path
                                    d="M6.07594 6.9811C7.7537 6.9811 9.11379 5.62101 9.11379 3.94325C9.11379 2.26549 7.7537 0.905396 6.07594 0.905396C4.39818 0.905396 3.03809 2.26549 3.03809 3.94325C3.03809 5.62101 4.39818 6.9811 6.07594 6.9811Z"
                                    fill="#007AFF" />
                                <path opacity="0.5"
                                    d="M12.1514 12.677C12.1514 14.5643 12.1514 16.0946 6.07571 16.0946C0 16.0946 0 14.5643 0 12.677C0 10.7898 2.7204 9.25946 6.07571 9.25946C9.43102 9.25946 12.1514 10.7898 12.1514 12.677Z"
                                    fill="#007AFF" />
                            </svg>
                        </div>
                        <h2 class="customar__nam">মুহাম্মদ রাসেল</h2>
                        <p class="customar__count">05</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pending-profile-wrapper">
            <div class="pending-profile">
                <div class="profile-name">
                    <img src="images/profile-3.png" alt="">
                    <p>মুহাম্মদ রাসেল <br> <span>+8801 555 0596 888</span></p>
                </div>
                <div class="profile__right">
                    <img src="images/phone-2.png" alt="">
                    <img src="images/down-arrow.png" alt="">
                </div>
            </div>
            <div class="button__wrapper">
                <button class="view__btn">অনাগ্রহী </button>
                <button class="paid__btn">অগ্রহী </button>
            </div>
            <div class="cancel__btn">
                <button>পৌঁছাতে পারিনি </button>
            </div>
        </div>

        <a href="#">
            <div class="pending-profile">
                <div class="profile-name">
                    <img src="images/profile-3.png" alt="">
                    <p>মুহাম্মদ রাসেল <br> <span>+8801 555 0596 888</span></p>
                </div>
                <div class="profile__right">
                    <img src="images/phone-2.png" alt="">
                    <img src="images/down-arrow.png" alt="">
                </div>
            </div>
        </a>
        <a href="#">
            <div class="pending-profile">
                <div class="profile-name">
                    <img src="images/profile-3.png" alt="">
                    <p>মুহাম্মদ রাসেল <br> <span>+8801 555 0596 888</span></p>
                </div>
                <div class="profile__right">
                    <img src="images/phone-2.png" alt="">
                    <img src="images/down-arrow.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="onagrohi-popup-container">
        <div class="onagrohi-popup-compelete__wrap">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51" fill="none">
                    <circle cx="25.5" cy="25.5" r="25.5" fill="#F56262" fill-opacity="0.07" />
                    <path
                        d="M25 36C30.5228 36 35 31.5228 35 26C35 20.4772 30.5228 16 25 16C19.4772 16 15 20.4772 15 26C15 31.5228 19.4772 36 25 36Z"
                        stroke="#F56262" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M29 30C29 30 27.5 28 25 28C22.5 28 21 30 21 30" stroke="#F56262" stroke-width="1.2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M22 23H22.01" stroke="#F56262" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M28 23H28.01" stroke="#F56262" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
            <h2 class="onagrohi-popup-compelete__title">আপনি অনাগ্রহীর অপশনটি নির্বাচন করেছেন !</h2>
            <p class="onagrohi-popup-compelete__des">উপযুক্ত কারণটি নির্বাচন করুন । </p>

            <div class="onagrohi-popup-cause__field">
                <select>
                    <option value="onagrohi">কারণটি নির্বাচন করুন   ...</option>
                    <option value="onagrohi">কারণটি নির্বাচন করুন   ...</option>
                    <option value="onagrohi">কারণটি নির্বাচন করুন   ...</option>
                    <option value="onagrohi">কারণটি নির্বাচন করুন   ...</option>
                </select>
            </div>

            <div class="onagrohi-popup-button__group">
                
                    <button class="onagrohi-popup-cancel__btn">Cancel</button>
               
              
                    <button class="onagrohi-popup-confirm__btn">Ok</button>
               
            </div>
        </div>
    </div>

    <div class="agrohi-popup-container">
        <div class="agrohi-popup-compelete__wrap">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51" fill="none">
                    <circle cx="25.5" cy="25.5" r="25.5" fill="#007AFF" fill-opacity="0.09" />
                    <path
                        d="M25 36C30.5228 36 35 31.5228 35 26C35 20.4772 30.5228 16 25 16C19.4772 16 15 20.4772 15 26C15 31.5228 19.4772 36 25 36Z"
                        stroke="#007AFF" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21 28C21 28 22.5 30 25 30C27.5 30 29 28 29 28" stroke="#007AFF" stroke-width="1.2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M22 23H22.01" stroke="#007AFF" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M28 23H28.01" stroke="#007AFF" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
            <h2 class="agrohi-popup-compelete__title">আপনি আগ্রহীর কারন টিনির্বাচন করেছেন !</h2>
            <p class="agrohi-popup-compelete__des">উপযুক্ত সময় নির্বাচন করুন । </p>

            <div class="agrohi-popup-time__field">
                <button>আজকে</button>
                <button>আগামিকাল </button>
                <button>আগামি পরশু</button>
            </div>

            <div class="agrohi-popup-button__group">
               
                    <button class="agrohi-popup-cancel__btn">Cancel</button>
                
                
                    <button class="agrohi-popup-confirm__btn">Ok</button>
                
            </div>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>