*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin__panel-container
{
    display: flex;
}

.admin__panel
{
    width: 50vh;
}

.admin__panel-admin
{
    padding: 19px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F5F9;
    border-right: 1px solid #F1F5F9;
}

.admin__panel-image
{
    width: 40px;
    height: 40px;
    filter: drop-shadow(3.3207547664642334px 3.3207547664642334px 10.79245376586914px rgba(0, 0, 0, 0.05));
    border-radius: 50%;
    padding: 7px;
    margin-right: 8px;
}

.admin__panel-title
{
    color: #222950;
    font-family: Plus Jakarta Sans;
    font-size: 18.264px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.admin__property-container
{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.admin__items-container
{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 4px;
}

.admin__items-container:hover .admin__item-icon g #Vector,
.admin__items-container:hover .admin__item-icon g #Vector_2,
.admin__items-container:hover .admin__item-icon path
{
    stroke: #007AFF;
}

.admin__items-container:hover
{
    background: #F8FAFF;
    cursor: pointer;
}

.admin__items-container:hover h3
{
    color: #11173F;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.admin-item-title
{
    color: #4F6479;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-left: 15px;
}

.admin__panel-logOut
{
    padding: 12px 20px;
    border-radius: 12px;
    background: #F9F9FC;
    color: #222950;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.admin__logout-icon
{
    margin-right: 20px;

}

.dashboard
{
    width: 100%;
}

.dashboard__navbar
{
    padding: 25px 20px;
    border-bottom: 1px solid #F1F5F9;
}
.dashboard__navbar-title
{
    color:  #0F172A;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.2px;
}

.dashboard__container
{
    padding: 5px 40px 80px 24px;
    background-color: #f2f6ff;
    width: 100%;
}

.dashboard__card-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 27px;
}

.dashboard__card
{
    padding: 32px 0px 27px 26px;
    border-radius: 12px;
    border: 1px solid rgba(0, 122, 255, 0.19);
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
    display: flex;
}

.dashboard__card-img
{
    margin-right: 30px;
}

.dashboard__card-title
{
    color: #595F84;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 8px;
}


.dashboard__main-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dashboard__main-container main
{
    width: 70%;
    margin-right: 23px;
}

.dashboard__right-side
{
    width: 28%;
    text-align: right;
}

.dashboard__top-title
{
    color:  #222950;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 122, 255, 0.12);
    margin-bottom: 20px;
    background: #FFF;
}
.dashboard__top-tabs ul
{
    display: flex;
    margin-bottom: 30px;
}
.dashboard__top-tabs ul li
{
    list-style: none;
    display: inline;
    margin-right: 40px;
}
.dashboard__top-tabs ul li a
{
    text-decoration: none;
    color: #222950;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
}
.dashboard__tab-content
{
    width: 100%;
    background-color: #007aff;
}


/* sr activity start */
.dashboard-activity-container
{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 19px;
    margin: 30px 0;
}
.dashboard-activity-container li a
{
    text-decoration: none;
}
.dashboard-activity-container li a
{
    display: flex;
    border-radius: 12px;
    background: #FFF;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
    padding: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.dashboard-activity-container li:hover a
{
    border-color: #007AFF;
}
.dashboard-activity-container li:hover a h2
{
    color: #007AFF;
    font-size: 16px;
}
.dashboard_tab-active a
{
    border-color: #007AFF !important; 
    
}
.dashboard_tab-active h2
{
    color: #007AFF !important;
}
.dashboard-activity-container li img
{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.dashboard-activity-container li a h2
{
    color: #595F84;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}


.dashboard-activity-container li a img 
{
  width: 45px;
  height: 45px;
  object-fit: cover;
}

/* Order Content */
.tab-navbar-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab-navbar-container #tabs-nav-order
{
    margin-bottom: 0;
}
.tab-navbar-container #tabs-nav-route
{
    margin-bottom: 0;
}
.tab-navbar-container #tabs-nav-summary
{
    margin-bottom: 0;
}

.tab-navbar-container-right-side
{
  display: flex;
  padding-bottom: 15px;
}

.tab-navbar-container-right-side input[type="date"]
{
    border-radius: 7px;
    border: 1px solid #E2E8F0;
    padding: 13px 10px;
}

.tab-navbar-container-right-side button
{
    border-radius: 7px;
    border: 1px solid #E2E8F0;
    padding: 10px;
    background-color: transparent;
}

.canceled
{
    padding: 8px 14px;
    border-radius: 8px;
    background: #FFF0F0;
    color: #FD6A6A;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 19.2px */
    border: none;
}
button.active-page
{
    background-color: rgba(0, 122, 255, 0.04); 
    color: #007AFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
    letter-spacing: 0.2px;
}

.add-btn
{
    border-radius: 7px;
    border: none;
    background-color: #007AFF !important;
    padding: 5px 17px;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 19.2px */
    display: flex;
    align-items: center;
}
.add-btn svg
{
    margin-left: 8px;
}

.dashboard__main-so-container
{
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
}
  .dashboard__so 
  {
    padding: 18px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 122, 255, 0.12);
    background: #fff;
  }
  .dashboard__so-title 
  {
    color: #222950;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .dashboard__so-btn-container 
  {
    display: flex;
  }
  .dashboard__so-btn-group 
  {
    border-radius: 7px;
    background: #f8faff;
    padding: 10px 16px;
    margin-right: 11px;
  }
  .dashboard__so-btn-group button 
  {
    background-color: transparent;
    border: none;
  }
  .dashboard__so-btn-group button:first-child 
  {
    margin-right: 24px;
  }
  .dashboard__so-btn-final 
  {
    padding: 12px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #e0efff;
    background: #007aff;
    color: white;
  }
  .dashboard__so-container 
  {
    padding: 30px 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
  }



.sr-order__top-ten
{
  border-radius: 12px;
  background: #FFF;

  /* shadow-sm */
  box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
}
.tab-navbar-container
{
  padding: 20px 20px 0px 20px;
}
.sr-order__top-tens ul
{
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}
.sr-order__top-ten ul li
{
  list-style: none;
  display: inline;
  margin-right: 20px;
}
.sr-order__top-ten ul li a
{
  text-decoration: none;
  color: #595f84;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 30px;
}
.sr-order__tab-content
{
  width: 100%;
}
.sr-order__tab-content table,
.sr-order__tab-content thead
{
  border-collapse: collapse;
  width: 100%;
  
}
.sr-order__tab-content table thead tr
{
  background: #F8FAFF;
  width: 100%;
  text-align: left;
}

.sr-order__tab-content table thead tr th
{
  color: #595F84;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  padding: 10px 20px;
  
}

.sr-order__tab-content table tbody tr:first-child td
{
  padding-top: 23px;
}

.sr-order__tab-content table tbody tr td
{
  padding-left: 25px;
  color: #595F84;
  font-family: Baloo Da 2;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 16px;
}

.tab-navbar-container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab-navbar-container #tabs-nav-order
{
  margin-bottom: 0;
}
.tab-navbar-container #tabs-nav-route
{
  margin-bottom: 0;
}
.tab-navbar-container #tabs-nav-summary
{
  margin-bottom: 0;
}

.tab-navbar-container-right-side input[type="date"]
{
  border-radius: 7px;
  border: 1px solid #E2E8F0;
  padding: 13px 10px;
}

.tab-navbar-container-right-side button
{
  border-radius: 7px;
  border: 1px solid #E2E8F0;
  padding: 13px;
  background-color: transparent;
}

.order-tab1-tr tr td
{
  color: #595F84;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.order-tab1-tr tr
{
  border-bottom: 1px solid rgba(0, 122, 255, 0.12);
}

.order-tab1-tr tr td
{
  padding: 17px 0;
}

.paid
{
  padding: 8px 14px;
  border-radius: 8px;
  background: #E7F7EF;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  opacity: 0;
  line-height: 160%;
  border: none;
}

.on-delivery
{
  padding: 8px 14px;
  border-radius: 8px;
  background: #FFF0E6;
  color: #FD6A6A;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  border: none;

}
.checkboxS
{
  height: 18px;
  width: 18px;
  background-color: #ddd;
}

.flex-grup
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.flex-grup p 
{
  margin-left: 8px;
  color: #4F6479;
}
.pagination
{
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-left
{
  display: flex;
  align-items: center;
}
.pagination-left h3
{
  color: #718096;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
  margin-right: 16px;
}

.pagination-left button
{
  border-radius: 8px;
  border: 1px solid #EEEFF2;
  padding: 8px 12px;
  color: var(--black-2, #595F84);
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.2px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.pagination-left button svg
{
  margin-left: 15px;
}

.pagination-right
{
  display: flex;
  align-items: center;
}
.pagination-right button
{
  display: flex;
  align-items: center  ;
  border-radius: 8px;
  padding: 8px;
  color: #A0AEC0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
  border: none;
  background-color: #fff;
}
button.active-page{
  background-color: rgba(0, 122, 255, 0.04); 
  color: #007AFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.2px;
}


.bot
{
  color: black;
  font-size: 8px;
  height: 5px;
  width: 5px;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-left: 3px;
  margin-right: 5px;
}
