* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin__panel-container {
    display: flex;
}

.admin__panel {
    width: 30vh;
}

.admin__panel-admin {
    padding: 26px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F5F9;
    border-right: 1px solid #F1F5F9;
}

.admin__panel-image {
    width: 40px;
    height: 40px;
    filter: drop-shadow(3.3207547664642334px 3.3207547664642334px 10.79245376586914px rgba(0, 0, 0, 0.05));
    padding: 7px;
    margin-right: 8px;
}

.admin__panel-title {
    color: #222950;
    font-family: Plus Jakarta Sans;
    font-size: 18.264px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 27.396px */
}

.admin__property-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.admin__items-container {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 4px;
}

.admin__items-container:hover .admin__item-icon g #Vector,
.admin__items-container:hover .admin__item-icon g #Vector_2,
.admin__items-container:hover .admin__item-icon path {
    stroke: #007AFF;
}

.admin__items-container:hover {
    background: #F8FAFF;
    cursor: pointer;
}

.admin__items-container:hover h3 {
    color: #11173F;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

.admin-item-title {
    color: #4F6479;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
    margin-left: 15px;
}

.admin__panel-logOut {
    padding: 12px 20px;
    border-radius: 12px;
    background: #F9F9FC;
    color: #222950;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;

}

.admin__logout-icon {
    margin-right: 20px;

}


.dashboard {
    width: 100%;
}

.dashboard__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 32px 40px 32px 24px;
    border-bottom: 1px solid #F1F5F9;

}

.dashboard__navbar-title {
    color: #0F172A;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 27.5px */
    letter-spacing: 0.2px;
}


.dashboard__container {
    padding: 33px 40px 80px 24px;
    background: #F8FAFF;
    ;
}

.dashboard__card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 27px;
}

.dashboard__card {
    padding: 32px 0px 27px 26px;
    border-radius: 12px;
    border: 1px solid rgba(0, 122, 255, 0.19);
    background: #FFF;

    /* shadow-sm */
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
    display: flex;
}

.dashboard__card-img {
    margin-right: 30px;
}

.dashboard__card-title {
    color: #595F84;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 22.5px */
    margin-bottom: 8px;
}

.dashboard__card-amount {
    color: #222950;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 30px */
}

.dashboard_card_button_container {
    align-items: center;
    display: flex;

}

.dashboard__card_with_button {
    padding: 32px 0px 27px 56px;
    border-radius: 12px;
    border: 1px solid rgba(0, 122, 255, 0.19);
    background: #FFF;
    cursor: pointer;
    /* shadow-sm */
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
    display: flex;
}

.dashboard_card_button {
    background-color: #EDF6FF;
    align-items: center;
    width: 186px;
    height: 40px;
    border: none;
    border-radius: 7px;
    padding: 4px 20px 10px 20px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #007AFF;
    cursor: pointer;


}


.plus_in_button {
    line-height: 20px;
    padding: 4px 0 0 0px;
    margin: 8px 0 0 6px;
    width: 16px;
    height: 16px;
}




.sr-order__top-ten {
    border-radius: 12px;
    background: #FFF;

    /* shadow-sm */
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
    padding: 25px;
}

.sr-order__top-title {
    color: #222950;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 122, 255, 0.12);
    margin-bottom: 20px;
    background: #FFF;
}

.sr_tab-content {
    margin-top: 20px
}

.sr-order__top-tabs ul {
    display: flex;
}

.sr-order__top-tabs ul li {
    list-style: none;
    display: inline;
    margin-right: 40px;
}

.sr-order__top-tabs ul li a {
    text-decoration: none;
    color: #222950;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

.sr-order__tab-content {
    width: 100%;
}

.sr-order__tab-content table,
.sr-order__tab-content thead {
    /* width: 100%; */
    border-collapse: collapse;
    width: 100%;

}

.sr-order__tab-content table thead tr {
    background: #F8FAFF;
    text-align: left;

}

.sr-order__tab-content table thead tr th {
    color: #595F84;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 16.5px */
    text-transform: uppercase;
    padding: 10px 15px;

}

.sr-order__tab-content table tbody tr:first-child td {
    padding-top: 23px;
}

.sr-order__tab-content table tbody tr td {
    padding-left: 15px;
    color: #595F84;
    font-family: Baloo Da 2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
    padding-bottom: 16px;
}

.sr-order-active {
    color: #007AFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
    border-bottom: 2px solid #007AFF;
    padding-bottom: 7px;
}

.sr__profile {
    border-radius: 12px;
    border: 1px solid rgba(0, 122, 255, 0.19);
    background: #FFF;

    /* shadow-sm */
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
    position: relative;
}

.sr__details-container {
    padding: 45px 0px 45px 40px;
    display: flex;
}

.sr__name-details {
    display: flex;
    align-items: center;
    margin-right: 100px;

}

.sr__image {
    width: 80px;
    height: 82px;
    border-radius: 50px;
    margin-right: 33px;
}

.sr__name {
    color: #222950;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 32px */
}

.sr__mobile {
    color: #8A94A6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
}

.sr__company-details {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.sr__company-image {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 20px;
}

.sr__company-name {
    color: #222950;
    font-family: "Baloo Da 2";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 24px */
    letter-spacing: 0.2px;
}

.sr__joining {
    display: flex;
    align-items: center;
}

.sr__joining-icon {
    width: 56px;
    height: 56px;
    margin-right: 18px;

}

.sr__joining-title {
    color: #222950;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 24px */
}

.sr__joining-date {
    color: #8A94A6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
}

.sr__activity {
    border-top: 1px solid #C9E2FF;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;

}

.sr__activity-item {
    border-right: 1px solid #C9E2FF;
    padding: 50px 64px;
}

.sr__activity-item:last-child {
    border-right: none;
}

.sr__activity-total {
    color: #595F84;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 18px */
    text-transform: uppercase;
}

.sr__activity-number {
    color: #222950;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.sr__activity-item:last-of-type .sr__activity-number {
    color: #FF8F6B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.sr_edit-icon {
    position: absolute;
    top: 21px;
    right: 25px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

}

.sr__edit-container {
    padding: 10px 14px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.07);
    width: 110px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 44px;
    right: 35px;
}

.sr__edit-btn {
    color: #595F84;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 17.6px */
    margin-bottom: 12px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;

}

.sr__delete-btn {
    color: #FF565E;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 17.6px */
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
}

.sr__edit-btn svg,
.sr__delete-btn svg {
    margin-right: 10px;
}

/* SR Profile End */

/* sr activity start */
.sr__details-activity-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 19px;
    margin: 50px 0;
}

.sr__details-activity-container li a {
    text-decoration: none;
}

.sr__details-activity-container li a {
    display: flex;
    border-radius: 12px;
    background: #FFF;
    border: 1px solid transparent;
    /* shadow-sm */
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.sr__details-activity-container li:hover a {
    border-color: #007AFF;
}

.sr__details-activity-container li:hover a h2 {
    color: #007AFF;
}

/* .sr_tab-active{
    border-color: #007AFF !important; 
    
} */
.sr_tab-active a {
    border-color: #007AFF !important;

}

.sr_tab-active h2 {
    color: #007AFF !important;
}

.sr__details-activity-container li img {
    width: 29px;
    height: 29px;
    margin-right: 16px;
}

.sr__details-activity-container li a h2 {
    color: #595F84;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}



/* Order Content */
.tab-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin-bottom: 10px;

}

.tab_navbar_month {
    align-items: center;
    justify-content: center;
    height: 42px;
    padding: 0px 13px 0px 13px;
    border-radius: 7px;
    border: 1px solid #E2E8F0;
    margin-right: 10px;
    display: flex;


}

.tab_navbar_month img {
    margin-right: 5px;
    height: 16.67px;

}

.tab_navbar_month p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #64748B;

}

.tab-navbar-container #tabs-nav-order {
    margin-bottom: 0;
}

.tab-navbar-container-right-side {
    display: flex;
}

.tab-navbar-container-right-side button {
    border-radius: 7px;
    border: 1px solid #E2E8F0;
    padding: 13px;
    height: 42px;
    background-color: transparent;
}

.order-tab1-tr tr td {
    color: #595F84;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 16.5px */
}

.order-tab1-tr tr {
    border-bottom: 1px solid rgba(0, 122, 255, 0.12);
    /* display: inline-block; */
}

.order-tab1-tr tr td {
    padding: 17px 0;

}

.reatailers_name {
    display: flex;
    align-items: center;
}

.reatailers_name img {
    margin-right: 10px;
}

.edit_delete_icons {
    margin-right: 20px;
}

.retailer_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #222950;
    padding-left: 10px;

}

.option_select {
    Width: 110px;
    Height: 38px;
    border-radius: 7px;
    border: none;
    Padding: 10px 11px 10px 11px;
    Gap: 34px;
    background-color: #F8FAFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #595F84;
    outline: none;
    margin-right: 10px;


}

.dashboard__navbar-search {
    border-radius: 12px;
    border: 1px solid #E2E8F0;
    outline: none;
    width: 275px;
    height: 45px;
    margin: 10px 0;
    background-color: white;
    background-image: url('../../admin/assets/Search.jpg');
    background-position: 16px 10px;
    background-repeat: no-repeat;
    padding: 16px 16px 16px 48px;

    color: #64748B;
    /* body/medium/regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
}

.order-tab1-td_last_multipale {
    align-items: center;
    /* justify-content: end; */
    display: inline-flex;

}

.order-tab1-td_last {
    display: flex;
    justify-content: space-evenly;
    margin-right: -120px;
    margin-left: 30px;
    align-items: center;
    gap: 20px
}

.order-tab1-td_last img {
    margin-left: 20px;
}

.order-tab_details {
    width: 1098px;
    height: 202px;
    border: 1px solid #EDF0F6;
    background: linear-gradient(0deg, #EDF0F7, #EDF0F7),
        linear-gradient(0deg, #FCFCFF, #FCFCFF);


}

.paid {
    color: #0CAF60 !important;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 160%;
    /* 19.2px */
    text-transform: uppercase;
}

.canceled {
    padding: 8px 14px;
    border-radius: 8px;
    background: #FFF0F0;
    color: #FD6A6A;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    border: none;
}

.delivered {
    padding: 8px 14px;
    border-radius: 8px;
    background: #E7F7EF;
    color: #0CAF60;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 19.2px */
    border: none;
}


.pagination {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-left {
    display: flex;
    align-items: center;

}

.pagination-left h3 {
    color: #718096;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 22.4px */
    margin-right: 16px;
}

.pagination-left button {
    border-radius: 8px;
    border: 1px solid #EEEFF2;
    padding: 8px 12px;
    color: var(--black-2, #595F84);
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 20.8px */
    letter-spacing: 0.2px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.pagination-left button svg {
    margin-left: 15px;
}

.pagination-right {
    display: flex;
    align-items: center;
}

.pagination-right button {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    color: #A0AEC0;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 22.4px */
    border: none;
    background-color: #fff;
}

button.active-page {
    background-color: rgba(0, 122, 255, 0.04);
    color: #007AFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 22.4px */
    letter-spacing: 0.2px;
}

.Retailer_table_last_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px
}

.Retailer_table_last_container_left {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Retailer_table_last_container_left_items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}

.Retailer_table_last_container_left_items h3 {
    color: #595F84;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 20px;
}

.Retailer_table_last_container_left_items span {
    color: #718096;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 669px;
    height: 667px;

}

/* The Close Button */

.close_div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: right;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #0000001F;
    box-shadow: 0px 10px 20px 0px #052E8008;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

.modal_heading {
    color: #222950;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}

.modal_first_input_div {
    margin-top: 20px;
}

.modal_first_input_div h3 {
    color: #595F84;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.modal_first_input_div input {
    border: 1px solid #C6D7EF;
    width: 294.28px;
    height: 50px;
    padding: 14px 20px 14px 20px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    color: #8A94A6;
    margin-top: 10px;
    outline: none;
}

.modal_option_container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.modal_option_container p {
    color: #595F84;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.modal_option_container input {
    width: 294.28px;
    height: 50px;
    top: 36px;
    padding: 14px 20px 14px 20px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #C6D7EF;
    gap: 12px;
    margin-top: 5px;
    color: #8A94A6;
    outline: none;

}

.Modal_option_select {
    color: #8A94A6;

    width: 294.28px;
    height: 50px;
    margin-top: 5px;
    padding: 14px 20px 14px 20px;
    border-radius: 8px;
    border: 1px solid #C6D7EF;

}

.modal_footer {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    /* height: 71px; */

}

.modal_footer button:nth-child(1) {
    border: 1px solid #FF0C3838;
    width: 72px;
    height: 37px;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    gap: 12px;
    background-color: #fff;
    color: #FF565E;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-right: 20px;
}

.modal_footer button:nth-child(2) {
    width: 142px;
    height: 37px;
    padding: 10px 34px 10px 34px;
    border-radius: 7px;
    gap: 12px;
    background-color: #007AFF;
    color: #fff;
    border: none;
}

.modal_footer button:nth-child(1):hover {
    background-color: #FF565E;
    color: #FFF;
    transition: all
}

.modal_footer button:nth-child(2):hover {
    color: #007AFF;
    background-color: #fff;
    outline: 1px solid #007AFF;
    transition: all;
}