* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Baloo Da 2', cursive;
    font-family: '"Plus Jakarta Sans"', sans-serif;
}

.container {
    padding: 37px 25px 40px 27px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.navbar__title {
    width: 100%;
    color: var(--black, #222950);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.714%;
    letter-spacing: 0.54px;
}
.date__filter{
  position: absolute;
  top: 10px;
  right: 10px;
}
.date__filter select {
  border-radius: 7.44px;
  border: 0.93px solid #E2E8F0;
  padding: 7px;
  color: #595F84;
  font-size: 11.16px;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  min-width: 74px;

}


.overview_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.total__sell-card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 19px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(46, 49, 133, 0.08);
  background: #FFF;
}

.total__title {
    color: var(--gray, #8A94A6);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.714%;
    margin-bottom: 10px;
}

.total__ammount {
    color: var(--black, #222950);
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 133.714%;
    /* 26.743px */
}
.total__ammount span {
    color: #34D399;
    font-family: "Plus Jakarta Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.714%;
    margin-left: 4px;
    letter-spacing: 0.3px;
}

.time__span-btn {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
    margin-top: 61px;
    margin-bottom: 25px;
}

.time__span {
    color: #64748B;
    font-family: "" Inter"";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    display: inline-flex;
    height: 26px;
    padding: 8px;
    align-items: center;
    background: transparent;
    cursor: pointer;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #F1F5F9;
}

.time__span:hover {
    color: #007AFF;
    border: 1px solid rgba(0, 122, 255, 0.15);
    background: rgba(0, 122, 255, 0.05);
}

/* dashboard chart */


.dashboard__chart {
    border-radius: 9.3px;
    border: 0.93px solid rgba(46, 49, 133, 0.08);
    background: #FFF;
    box-shadow: 0px 18.60058px 37.20116px 0px rgba(0, 46, 97, 0.05);
    /* padding: 25px; */
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 16px 12px 16px 12px;
}

.dashboard__chart-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    align-items: flex-start;
}

.dasbhoard__sell {
    color: #64748B;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 19.2px */
}

.dashboard__amount {
    color: #0F172A;

    /* Heading/H5 */
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 25.2px */
    letter-spacing: 0.2px;
}

.dashboard__amount span {
    color: #34D399;

    /* body/small/medium */
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 19.2px */
    margin-left: 8px;
}

.dashboard__btn-container {
    display: flex;
}

.dashboard__chart-btn {
    padding: 5px 12px;
    border-radius: 50px;
    border: 1px solid #F1F5F9;
    color: #64748B;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 19.2px */
    background-color: #fff;
    margin-left: 8px;
    cursor: po"Inter";
    transition: all 0.3s ease-in-out;
}

.dashboard__chart-btn:hover {
    border: 1px solid rgba(0, 122, 255, 0.15);
    background: rgba(0, 122, 255, 0.05);
    color: #007AFF;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 19.2px */
}

.top__select-date {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #F1F5F9;
    color: #64748B;
    /* body/small/semibold */
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 19.2px */
    background: none;
    cursor: pointer;
}


/* Dashboard Statistics Chart */
.dashboard__statistics{
  border-radius: 8.65px;
  border: 0.865px solid rgba(46, 49, 133, 0.08);
  background: #FFF;
  box-shadow: 0px 17.29908px 34.59817px 0px rgba(0, 46, 97, 0.05);
  padding: 20px 14px;
}
.dashboard__statistics-top-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard__statistics-title{
  color: #222950;
  font-family: Inter;
  font-size: 14.88px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 22.321px */
  letter-spacing: 0.186px;
}
.dashboard__statistics-select{
  border-radius: 7.44px;
  border: 0.93px solid #E2E8F0;
  padding: 7px;
  color: #595F84;
  text-align: right;
  font-family: Inter;
  font-size: 11.16px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  line-height: 160%; /* 17.857px */
}
.dashboard__statistics-chart-container{
  text-align: center;
  padding:  35px 88px 22px;
}
.dashboard__statistics-persons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard__statistics-persons-left-side{}
.dashboard__statistics-persons-left-side span:first-child{
  width: 9.3px;
  height: 9.3px;
  border-radius: 3.72px;
  background: #2563EB;
  margin-right: 7px;
  display: inline-block;
}
.dashboard__statistics-persons-left-side span:last-child{
  color: #595F84;
font-family: Inter;
font-size: 11.16px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 17.857px */
}
.dashboard__statistics-persons-right-side span:first-child{
  width: 9.3px;
  height: 9.3px;
  border-radius: 3.72px;
  background: #38BDF8;
  display: inline-block;

}
.dashboard__statistics-persons-right-side span:last-child{
  color: #595F84;
font-family: Inter;
font-size: 11.16px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 17.857px */
}

@media (min-width: 450px) {
    .overview_container {
    max-height: 670px;
    overflow-y: auto;
  }
  }