* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Baloo Da 2', cursive;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 37px 25px 150px 27px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar__title {
    color: var(--black, #222950);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.714%;
    /* 24.069px */
    letter-spacing: 0.54px;
}

.logout__button {
  border-radius: 50px;
  background: #f8f8fb;
  color: var(--gray, #8a94a6);
  font-family: Plus Jakarta Sans;
  font-size: 13px;
  font-weight: 400;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 28px;
}

.profile img{
  width: 83px;
  height: 83px;
  flex-shrink: 0;
  border-radius: 50%; 
}

.profile__name {
    color: var(--black, #222950);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 19px;
}

.profile__company {
    color: var(--gray, #8A94A6);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.714%;
    /* 18.72px */
    letter-spacing: 0.42px;
    margin-top: 7px;
}

.total__section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8.65px;
  border: 0.865px solid rgba(46, 49, 133, 0.08);
  background: #FFF;
  box-shadow: 0px 17.29908px 34.59817px 0px rgba(0, 46, 97, 0.05);
  margin-bottom: 16px;
}

.total__order-wrapper {
    border-right: 1px solid rgba(46, 49, 133, 0.08);
    padding: 21px 10px 22px 10px;
}

.total__order-wrapper:last-of-type {
    border: none;
}

.total__order {
    color: var(--gray, #8A94A6);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 9.967px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.total__order-number {
    color: var(--black, #222950);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 11.96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 8px;
}

.minus__number {
    color: #EF452F;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 11.96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.anlytics__container {
    height: 286.449px;
    flex-shrink: 0;
    border-radius: 8.65px;
    border: 0.865px solid rgba(46, 49, 133, 0.08);
    background: #FFF;
    box-shadow: 0px 17.29908px 34.59817px 0px rgba(0, 46, 97, 0.05);
    margin-top: 28px;
    padding: 20px 14px 16px 14px;
}

.anlytics__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anlytics__title {
    color: #222950;
    font-family: Inter;
    font-size: 14.88px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 22.321px */
    letter-spacing: 0.186px;
}

/* Dashboard Statistics Chart */
.dashboard-profile__statistics{
  border-radius: 8.65px;
  border: 0.865px solid rgba(46, 49, 133, 0.08);
  background: #FFF;
  box-shadow: 0px 17.29908px 34.59817px 0px rgba(0, 46, 97, 0.05);
  padding: 20px 14px;
}
.dashboard-profile__statistics-top-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-profile__statistics-title{
  color: #222950;
  font-size: 14.88px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.186px;
}
.dashboard-profile__statistics-select{
  border-radius: 7.44px;
  border: 0.93px solid #E2E8F0;
  padding: 7px;
  color: #595F84;
  font-size: 11.16px;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  min-width: 95px;
}


.dashboard-profile__statistics-chart-container{
  text-align: center;
  padding:  35px 88px 22px;
}
.dashboard-profile__statistics-persons{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.dashboard-profile__statistics-persons-left-side span:first-child{
  width: 9.3px;
  height: 9.3px;
  border-radius: 3.72px;
  background: #2563EB;
  margin-right: 7px;
  display: inline-block;
}
.dashboard-profile__statistics-persons-left-side span:last-child{
  color: #595F84;
font-family: Inter;
font-size: 11.16px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 17.857px */
margin-right: 15px;
}
.dashboard-profile__statistics-persons-right-side span:first-child{
  width: 9.3px;
  height: 9.3px;
  border-radius: 3.72px;
  background: #38BDF8;
  display: inline-block;

}
.dashboard-profile__statistics-persons-right-side span:last-child{
  color: #595F84;
font-family: Inter;
font-size: 11.16px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 17.857px */
}




.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 39px 21px 40px;
    background-color: red;
    border-radius: 20px 20px 0px 0px;
    background: #FFF;
    box-shadow: 0px -5px 50px 0px rgba(0, 45, 94, 0.12);
}

.dashboard__right-side {
    width: 28%;
    text-align: right;
}

/* dashboard Analytics */


.dashboard__analytics {
    background: #FFF;
    padding: 50px;
}

.dashboard__analytics-title {
    color: #030229;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 80px;
    text-align: center;
}

#analyticsChart {
    margin-bottom: 50px;
}

.dashboard__analytics-report {
    display: flex;
    justify-content: space-between;
}

.dashboard__analytics-report h6 {
    color: #030229;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
}

.dashboard__analytics-report h6 span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #007AFF;
    display: inline-block;
    margin-right: 10px;
}

.chart__container {
    width: 200px;
}

/* Mobile Navigation */
/* navigation */

.nav-container {
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px;
    background: #fff;
    box-shadow: 0px -5px 50px 0px rgba(0, 45, 94, 0.12);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .navigation {
    width: 100%;
  }
  .navigation__list {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .navigation__item {
    perspective: 100px;
  }
  .navigation__link {
    font-size: 12px;
    text-decoration: none;
    color: #8a94a6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 5px 30px;
    overflow: hidden;
    position: relative;
    outline: none;
  }
  .navigation__link::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 15px;
    background-color: #007bff83;
    position: absolute;
    transform: translateY(60px) scale(0.4);
    transition: all 0.35s cubic-bezier(0, 0.51, 0, 0.99);
    opacity: 0;
  }
  .navigation__icon {
    transition: all 0.35s ease;
    will-change: opacity, transform, background-color;
  }
  .navigation__text {
    position: absolute;
    transform: translateY(60px) skewY(-20deg);
    transform-origin: left bottom;
    color: #007aff;
    font-weight: 700;
    opacity: 0;
    transition: all 0.35s ease;
    will-change: opacity, transform, background-color;
    text-transform: uppercase;
  }
  .navigation__link.active .navigation__icon {
    transform: translateY(-60px) rotateX(90deg) scale(0.4) skewY(-30deg);
    opacity: 0;
  }
  .navigation__link.active .navigation__text {
    opacity: 1;
    transform: translateY(-3px) skewY(0deg);
  }
  .navigation__link.active::before {
    transform: translateY(12px) scale(1);
    transition: all 0.35s cubic-bezier(0, 0.51, 0, 0.99) 0.2s;
    opacity: 1;
  }
  @keyframes dotAnime {
    0% {
      transform: translateY(60px) scale(0.4);
      opacity: 0;
    }
    75% {
      transform: translateY(-3px) scale(1);
      opacity: 1;
    }
    to {
      transform: translateY(12px);
      opacity: 1;
    }
  }
  @keyframes textAnime {
    from {
      transform-origin: right center;
      transform: skewY(0) translateY(0);
    }
    25% {
      transform: skewY(0) translateY(0);
    }
    60% {
      transform: skewY(-12deg) translateY(-22px);
    }
    to {
      transform: skewY(0) translateY(-3px);
    }
  }
  