* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin__panel-container {
    display: flex;
}

.admin__panel {
    width: 30vh;
}

.admin__panel-admin {
    padding: 26px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F5F9;
    border-right: 1px solid #F1F5F9;
}

.admin__panel-image {
    width: 40px;
    height: 40px;
    background-color: #FFADA0;
    filter: drop-shadow(3.3207547664642334px 3.3207547664642334px 10.79245376586914px rgba(0, 0, 0, 0.05));
    border-radius: 50%;
    padding: 7px;
    margin-right: 8px;
}

.admin__panel-title {
    color: #222950;
    font-family: Plus Jakarta Sans;
    font-size: 18.264px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 27.396px */
}

.admin__property-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.admin__items-container {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 4px;
}

.admin__items-container:hover .admin__item-icon g #Vector,
.admin__items-container:hover .admin__item-icon g #Vector_2,
.admin__items-container:hover .admin__item-icon path {
    stroke: #007AFF;
}

.admin__items-container:hover {
    background: #F8FAFF;
    cursor: pointer;
}

.admin__items-container:hover h3 {
    color: #11173F;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

.admin-item-title {
    color: #4F6479;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
    margin-left: 15px;
}

.admin__panel-logOut {
    padding: 12px 20px;
    border-radius: 12px;
    background: #F9F9FC;
    color: #222950;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;

}

.admin__logout-icon {
    margin-right: 20px;

}

.dashboard {
    width: 100%;
}

.dashboard__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 13px 40px 13px 24px;
    border-bottom: 1px solid #F1F5F9;
}

.dashboard__navbar-title {
    color: #0F172A;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 27.5px */
    letter-spacing: 0.2px;
}

.dashboard__navbar-search {
    border-radius: 12px;
    border: 1px solid #E2E8F0;
    outline: none;
    width: 275px;
    height: 45px;
    margin: 10px 0;
    background-color: white;
    background-image: url('../assets/Search.jpg');
    background-position: 16px 10px;
    background-repeat: no-repeat;
    padding: 16px 16px 16px 48px;

    color: #64748B;
    /* body/medium/regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
}

.dashboard__container {
    padding: 33px 40px 80px 24px;
    background: #F8FAFF;
    height: 100vh;
}

.dashboard__main-container {
    display: flex;
}

.dashboard__main-container main {
    width: 100%;
}

.dashboard__dealer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0;
}

.dashboard__dealer-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 212.795px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
}

.dashboard__dealer-card:hover {
    border: 1px solid #007AFF;
}

.dashboard__dealer-card-title {
    color: var(--blue, #007AFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.dashboard__top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 1px solid rgba(0, 122, 255, 0.12);
    background: #FFF;
}

.dashboard__top-navbar-title {
    color: var(--black, #222950);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
}

.Product__profile-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 250px;
}

.Product__profile {
    width: 249px;
    height: 240px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(131, 146, 165, 0.17);
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
    text-align: center;
}

.select__field {
    display: inline-flex;
    height: 34.318px;
    padding: 10px 11px;
    justify-content: center;
    align-items: center;
    gap: 34px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #F8FAFF;
    border: none;
    background-image: url(../assets/Vector.png);
    background-position: 150px 13px;
    background-repeat: no-repeat;
}

.Product__profile-title {
    color: var(--black, #222950);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 6px;
    /* 22.5px */
}

.Product__profile-email {
    color: var(--black-2, #595F84);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}

.Product__profile-img {
    width: 98px;
    height: 98px;
    flex-shrink: 0;
    margin-top: 20px;
}

.Product__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border-radius: 0px 0px 12px 12px;
    background: #FBFBFB;
}

.Product__price h2 {
    color: var(--gray, #8A94A6);
    font-family: Baloo Da 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.Product__price p {
    color: var(--blue, #007AFF);
    text-align: center;
    font-family: Baloo Da 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 21px */
}

.top__nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}




.dashboard__top-ten {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.03);
    padding: 25px;
}












.show_result-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.show_result-title {
    color: var(--greyscale-600, #718096);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 22.4px */
}

.show_resultfild {
    display: flex;
    width: 68px;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--greyscale-300, #EEEFF2);
    background-image: url(../assets/Vector.png);
    background-position: 45px 13px;
    background-repeat: no-repeat;
}

.tabs-content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.dashboard__page__navigator {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboard__page__navigator-btn {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    color: #A0AEC0;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 22.4px */
    letter-spacing: 0.2px;
}

.dashboard__page__navigator-btn:hover {
    background: rgba(0, 122, 255, 0.04);
    color: #007AFF;
}